# ignore all .class files
*.class

# ignore bin directory
bin/

# ignore files ending in ~
*~

# ignore metada files
.metadata

# ignore project files
.settingas

# ignore idea files
.idea

# ignore DS_Store file (Mac file)
.DS_Store
